.no-poster3 {
    text-align: center;

    width: 100% !important;;
    min-height: 195px;
    height: 100% !important;
    background: #4784ff;
    font-size: 2em;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-right:0px !important;
    margin-left:0px !important;
  }
